<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 01: Screwdriver Song</title>
</head>

<body style="display: flex; justify-content: center; align-items: center;">
    <main>
        <div style="background-color: coral; padding: 20px; border-radius: 16px;">

            <h1 style="text-align: center; margin: 0; margin-bottom: 16px; color: white;">Sound Files</h1>
            {% for file in files %}
            <div style="display: flex; justify-content: space-between; margin-bottom: 16px; gap: 8px;">
                <p>{{ file }}</p>
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename=file) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            {% endfor %}
            <form action="" method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
    </main>
</body>

</html>